body, html {
	width:100%;
	height:100%;
	padding:0;
	margin:0;
	background: #ddd;
	font-family: Arial, tahoma;
}

/* TABS */
#tabs {
	width: 100%;
	height: 20px;
}

nav#tabs ul {
	height: inherit;	
	margin-left: 0px;
}

#tabs li {
	float: left;
	display: inline;
	padding: 2px 8px;
	background: #777;
	min-width: 120px;
	margin-right: 1px;
	border: 1px solid #777;
	border-radius: 5px 5px 0px 0px;
}

#tabs a {
	display: block;
	text-decoration: none;
	color: #222;
	overflow: hidden;
	font-size: 13px;
}

#tabs > ul > li.active {
	background: #272822;
	border-color: #272822;
}

#tabs > ul > li.active a {
	color: #eee;
}

/* EDITOR WRAPPER */
#editor_wrapper {
	height: 500px;
	width: 80%;
	float: left;
	position: absolute;
	overflow-y: hidden;
}

	/* EDITOR */
	#main_editor {
		display: inline-block;
		margin: 0;
		overflow: auto;
		width: 100%;
		height: 100%;
	}

	#dragbar {
		position: relative;
		top: -500px;
		background: #444 url('../img/handle.png') no-repeat center;
		height:100%;
		z-index: 1000;
		float: right;
		width: 6px;
		margin-left: -6px;
		cursor: col-resize;
	}


/* TESTS */
#tests {
	position: absolute;
	top: 20px;
	right: 0;
	left: 80%;
	float: right;
	background: white;
	height: 500px;
	overflow: hidden;
	z-index: 1000;
}

#tests h1 {
	margin-left: 10px;
	
}
#tests ul {
	font-family: "Lucida Console", Monaco, monospace;
}

#btn_test {
  	position: absolute;
	vertical-align: top;
	height: 50px;
	bottom: -5px;
	left: 0;
	right: 0;
	width: 100%;
	margin: 4px 0px;
	padding: 0;
	display: inline-block;
	font-size: 22px;
	color: white;
	text-align: center;
	border: 0;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #f39c12;
    border-bottom: 2px solid #e8930c;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px #e8930c;
    box-shadow: inset 0 -2px #e8930c;
}

/* CONTROLS */
#controls {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	margin-top: 500px;
}

#controls button {
  	position: relative;
  	vertical-align: top;
	height: 50px;
	width: 49%;
	margin: 4px 0px;
	padding: 0;
	display: inline-block;
	font-size: 22px;
	color: white;
	text-align: center;
	border: 0;
}

#controls button:active {
    top: 1px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#btn_run {
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
	background: #2ecc71;
	border-bottom: 2px solid #28be68;
	cursor: pointer;
	-webkit-box-shadow: inset 0 -2px #28be68;
	box-shadow: inset 0 -2px #28be68;
}

/* CONSOLE */
#console {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

#console textarea {
	max-width: 98%;
	width: 60%;
	min-height: 120px;
}